.app {
  display: table;
  margin: 0 auto;
  width: 600px; 
  position: relative;
  padding: 5px;
}

.loading-spinner-overlay {
  display: none;
}

.loading-spinner-overlay.loading {
  display: block;
  position: absolute;
  background: rgba(27, 35, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  margin: auto;
}

.loading-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 200px;
  margin: auto;
  vertical-align: center;
  line-height: 200px;
}

.pick-buttons {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
}

.powerball-section.header {
  text-align: center;
  color: #FFF;
  background-color: #899BAA;
  clear: both;
  padding: 2px;
}

.circle-button { 
  color: #000;
  border: 1px solid #555;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  cursor: pointer;
  display: table-cell;
  position: relative;
}

#autofill-button {
  background-image: url("/images/ico-fastselect.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #6C4796;
  margin-right: 5px;
}

#reset-button {
  background-image: url("/images/ico-clear.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #767676;
}

.picked-row {
  margin-bottom: 5px;
  display: block;
  position: relative;
}

@media only screen and (max-width: 620px) {
  .app {
    display: table;
    margin: 0 auto;
    width: 400px; 
  }

  .circle-button { 
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 40px;
    cursor: pointer;
    display: table-cell;
    position: relative;
  }

  .pick-buttons {
    display: block;
    position: relative;
    text-align: right;
    margin: 5px;
  }
}