.app {
  display: table;
}

.pick-buttons {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
}

.powerball-section {
}

.powerball-section.header {
  text-align: center;
  color: #FFF;
  background-color: #899BAA;
  clear: both;
  padding: 2px;
}

.circle-button { 
  color: #000;
  border: 1px solid #555;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  cursor: pointer;
  display: table-cell;
  position: relative;
}

#autofill-button {
  background-image: url("/images/ico-fastselect.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #6C4796;
  margin-right: 5px;
}

#reset-button {
  background-image: url("/images/ico-clear.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #767676;
}

.picked-row {
  margin-bottom: 5px;
  display: block;
  position: relative;
}