.number-cell {
    background: #fff;
    border: 1px solid #B2B2B2;
    border-width: 0 1px 1px 0;
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 60px;
    cursor: pointer;
    color: #6C4796;
  }
  
  .number-row {
    display: block;
  }

  .number-row:first-child {
    display: block;
    border: 1px solid #B2B2B2;
    border-width: 1px 0px 0px 0px;
  }

  .number-cell:first-child {
    background: #fff;
    border: 1px solid #B2B2B2;
    border-width: 0px 1px 1px 1px;
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
    height: 60px;
    padding: 0;
    text-align: center;
    width: 60px;
    cursor: pointer;
    color: #6C4796;
  }

  .selected {
    background-color: #E9E4F0;
    background-image: url(/images/ico-strike.svg);
    background-size: 80%;
    background-color: #E9E4F0;
    background-position: center;
    background-repeat: no-repeat;
  }